<p id="notice"><%= notice %></p>

<h1>Listing Cds</h1>
<h3>Search</h3>
<%=form_for :id, url:{:controller=> "search",:action =>"show"} do |f|%>
<%=f.label("search")%>
<br>
<%=f.text_field :cd_name%>
<%=f.submit ("search")%>
<%end%>
<table>
  <thead>
    <tr>
      <th>Cd name</th>
      <th>Cd des</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cds.each do |cd| %>
      <tr>
        <td><%= cd.cd_name %></td>
        <td><%= cd.cd_des %></td>
        <td><%= cd.like %></td>
        <td><%= link_to 'Show', cd %></td>
        <td><%= link_to 'Edit', edit_cd_path(cd) %></td>
        <td><%= link_to 'like', report_cd_path(cd),{method: :post} %></td>
        <td><%= link_to 'Destroy', cd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cd', new_cd_path %>
