<!DOCTYPE html>
<html>
<head>
  <title>Carpool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%=render "share_cars/header" %>
	<%=render "share_cars/sidebar" %>
	<%= yield %>

</body>
</html>
